<!-- Modal for editing device info (name, IP, screenshot) -->
<div id="deviceModal" class="modal">
  <div class="modal-content">
      <span class="close" onclick="closeDeviceModal()">&times;</span>
      <h2>Edit Device Information</h2>
      <form id="editDeviceForm" onsubmit="submitDeviceChange(event)">
          <label for="newName">Name:</label>
          <input type="text" id="newName" name="newName" required>

          <label for="newIp">IP:</label>
          <input type="text" id="newIp" name="newIp" required>

          <label for="newScreenshot">Screenshot URL:</label>
          <input type="text" id="newScreenshot" name="newScreenshot" required>

          <input type="hidden" id="deviceIdEdit">
          <button type="submit">Submit</button>
      </form>
  </div>
</div>

<script>
  function openModal2(modalId, id, data) {
    
       console.log(modalId, id, data);
      document.getElementById('deviceId').value = id;
      document.getElementById('newUrl').value = data;
      document.getElementById('urlModal').style.display = 'block';
    
        
      const device = JSON.parse(data);
 
    }
  

  function closeUrlModal() {
    document.getElementById('urlModal').style.display = 'none';
  }

  function submitUrlChange(event) {
    event.preventDefault();
    const id = document.getElementById('deviceId').value;
    const newUrl = document.getElementById('newUrl').value;

    fetch('/devices/update-url', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ id, newUrl }),
    })
    .then(response => response.json())
    .then(data => {
      alert(data.message);
      closeUrlModal();
      location.reload();
    })
    .catch(error => {
      console.error('Error:', error);
      alert('Error changing URL');
    });
  }
</script>
